In [1]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
names = ['s-length','s-width','p-length','p-width','type']
dataset = pd.read_csv(url,names = names)

In [2]:
dataset.head()

   s-length  s-width  p-length  p-width         type
0       5.1      3.5       1.4      0.2  Iris-setosa
1       4.9      3.0       1.4      0.2  Iris-setosa
2       4.7      3.2       1.3      0.2  Iris-setosa
3       4.6      3.1       1.5      0.2  Iris-setosa
4       5.0      3.6       1.4      0.2  Iris-setosa

In [3]:
dataset.describe()

         s-length     s-width    p-length     p-width
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [4]:
dataset.groupby('type').size()

type
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [6]:
dataset[dataset['s-length'] > dataset['s-length'].median()].head()

    s-length  s-width  p-length  p-width             type
50       7.0      3.2       4.7      1.4  Iris-versicolor
51       6.4      3.2       4.5      1.5  Iris-versicolor
52       6.9      3.1       4.9      1.5  Iris-versicolor
54       6.5      2.8       4.6      1.5  Iris-versicolor
56       6.3      3.3       4.7      1.6  Iris-versicolor

In [15]:
dataset.columns.str.upper()

Index(['S-LENGTH', 'S-WIDTH', 'P-LENGTH', 'P-WIDTH', 'TYPE'], dtype='object')